.github
.git
*.md
.vscode
.gitignore
.env
.env.*
!.env.example
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/default/node_modules
/web/classic/node_modules
.dev-docker
backups
data
logs
tmp
target
desktop/tauri-app/src-tauri/target
desktop/tauri-app/target
web/dist
web/default/dist
web/classic/dist
coverage
dist
desktop
